<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styleindex.css">
<meta charset="ISO-8859-1">
<title>Student Home</title>
</head>
<body>
    <body>
   
    <div class="links-container">
    <h1>Student operations</h1>
        <a href="addStudent">Add Student</a>
        <a href="getStudent">Get Student</a>
        <a href="getAll">Get All Student</a>
        <a href="updateStudent">Update Student</a>
        <a href="deleteStudent">Delete Student</a>
        </div>
        </body>
        
</body>
</html>