<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="update.css">
    <meta charset="ISO-8859-1">
    <title>Update Student App</title>
   
        
</head>
<body>
    <div class="container">
        <h1>Update a Student</h1>
        <form action="update" method="post">
            <label>Enter Updated Roll:</label>
            <input type="text" name="roll" required />
            <br />
            <label>Enter Updated Name:</label>
            <input type="text" name="name" required />
            <br />
            <label>Enter Updated Branch:</label>
            <input type="text" name="branch" required />
            <br />
            <label>Enter Updated YOP:</label>
            <input type="text" name="yop" required />
            <br />
            <input type="submit" value="Update Student" />
        </form>
    </div>
</body>
</html>
