/* Resetting default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Centering content vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0000ff, #ff0000, #000000);
    background-attachment:fixed; /* Unique gradient background */
}

/* Styling the container */
.addsongs {
	  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    padding: 40px;
    border-radius: 10px;
    text-align: center; /* Centering content inside the container */
    width: 40%; /* Adjusted width */
    max-width: 300px; /* Limiting the width of the container */
    margin-top: 160px; /* Center the container horizontally and add top margin */
}

/* Styling the heading */
.addsongs h1 {
    font-size: 35px; /* Heading font size */
    color: white; /* Heading color */
    margin-bottom: 20px; /* Add space below the heading */
}

/* Styling for form inputs */
.addsongs input[type="text"] {
    width: calc(100% - 20px); /* Adjusted input width */
    height: 40px; /* Input height */
    padding: 10px; /* Input padding */
    margin-bottom: 20px; /* Add space below each input */
    border: none; /* Remove border */
    border-bottom: 2px solid #333; /* Add bottom border */
    background: transparent; /* Transparent background */
    box-sizing: border-box; /* Include padding and border in input's total width */
    color: #fff; /* Text color */
}

/* Placeholder style */
.addsongs ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff; /* White placeholder text color */
}
.addsongs ::-moz-placeholder { /* Firefox 19+ */
    color: #fff; /* White placeholder text color */
}
.addsongs :-ms-input-placeholder { /* IE 10+ */
    color: #fff; /* White placeholder text color */
}
.addsongs :-moz-placeholder { /* Firefox 18- */
    color: #fff; /* White placeholder text color */
}

/* Styling for submit button */
.addsongs input[type="submit"] {
    display: inline-block; /* Make submit button inline */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Add transition effect */
}

.addsongs input[type="submit"]:hover {
    background-color: #555; /* Darken background color on hover */
}
