<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" href="login.css"> <!-- Include the CSS file -->
</head>
<body>

<form action="login" method="post" class="login-form">
    <h2>Login to get started!!</h2>
   
    <input type="email" name="email" placeholder="Enter your email" required>
    <br /><br />
    
    <input type="password" name="password" placeholder="Enter your password" required>
    <br /><br />
    <input type="submit" value="Log In">
    <br /><br />
    <a href="/forgotpassword">Forgot Password? let's reset it..</a>
</form>

</body>
</html>
